@font-face {
  font-family: 'Exo 2 Black';
  src: url('Exo2-Black.eot'); /* IE9 Compat Modes */
  src: url('Exo2-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-Black.woff') format('woff'), /* Modern Browsers */
       url('Exo2-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-Black.svg#74fd74341f2364b31e7ac5758fd0bb78') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Exo 2';
  src: url('Exo2-Bold.eot'); /* IE9 Compat Modes */
  src: url('Exo2-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-Bold.woff') format('woff'), /* Modern Browsers */
       url('Exo2-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-Bold.svg#64afc03f87116c5051f965b967fd1484') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Exo 2 Extra Bold';
  src: url('Exo2-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('Exo2-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('Exo2-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-ExtraBold.svg#5c6f465ead681ebe8b401b267a278b99') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Exo 2 Extra Light';
  src: url('Exo2-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('Exo2-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('Exo2-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-ExtraLight.svg#e455284e9cce265b30657b98e0bd9b5a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Exo 2 Light';
  src: url('Exo2-Light.eot'); /* IE9 Compat Modes */
  src: url('Exo2-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-Light.woff') format('woff'), /* Modern Browsers */
       url('Exo2-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-Light.svg#ff051db9324094c7f2ab3333041643f1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Exo 2 Medium';
  src: url('Exo2-Medium.eot'); /* IE9 Compat Modes */
  src: url('Exo2-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-Medium.woff') format('woff'), /* Modern Browsers */
       url('Exo2-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-Medium.svg#de1d09bf165e7107e3d0f120dc6d00b9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Exo 2';
  src: url('Exo2-Regular.eot'); /* IE9 Compat Modes */
  src: url('Exo2-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-Regular.woff') format('woff'), /* Modern Browsers */
       url('Exo2-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-Regular.svg#f0a8d850465eacfae734af2af3416d42') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Exo 2 Semi Bold';
  src: url('Exo2-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('Exo2-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('Exo2-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-SemiBold.svg#0dee4e42d52f33e419f5f3b2a1abdcd3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Exo 2 Thin';
  src: url('Exo2-Thin.eot'); /* IE9 Compat Modes */
  src: url('Exo2-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo2-Thin.woff') format('woff'), /* Modern Browsers */
       url('Exo2-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo2-Thin.svg#15baac2f6c40d87d2c543e01969efca8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

