@charset 'utf-8';

@import 'mixins';

@import 'settings'; @import 'foundation'; @import 'motion-ui';

@include foundation-global-styles; @include foundation-grid; @include foundation-typography; @include foundation-button; @include foundation-forms; @include foundation-visibility-classes; @include foundation-float-classes; @include foundation-accordion; @include foundation-accordion-menu; @include foundation-badge; @include foundation-breadcrumbs; @include foundation-button-group; @include foundation-callout; @include foundation-close-button; @include foundation-drilldown-menu; @include foundation-dropdown; @include foundation-dropdown-menu; @include foundation-flex-video; @include foundation-label; @include foundation-media-object; @include foundation-menu; @include foundation-off-canvas; @include foundation-orbit; @include foundation-pagination; @include foundation-progress-bar; @include foundation-slider; @include foundation-sticky; @include foundation-reveal; @include foundation-switch; @include foundation-table; @include foundation-tabs; @include foundation-thumbnail; @include foundation-title-bar; @include foundation-tooltip; @include foundation-top-bar;
 @include motion-ui-transitions; @include motion-ui-animations;

/* Include Mosterrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Exo:400,500,600,700,800,900,300,200,100);


html, body {
    height: 100%;
    background-color: #97272b;
    background-image: url("/images/home_bg.png");
    background-position: top center;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
        background-image: url("/images/home_bg_2x.png");
    }
}

.progress {
    height: 50px;
    border-radius: 4px;
    padding: 4px;

    .progress-meter {
        background-color: #da3b40;
        border-radius: 3px;
    }
}

.username {
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
}

.logout {
    padding-top: 10px;
    font-size: 8px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    &:hover {
        color: #5d3232;
    }
}

.status {
    font-family: 'Exo 2', sans-serif;
    color: #FFF;
}

#output {
    color: #FFF;
    margin-bottom: 10px;
    font-family: 'Exo 2', sans-serif;
}

input.button {
    margin-top: 10px;

    &#start {
        background-color: #da3b40;
    }
}

h1 {
  color: #FFF;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

p {
  color: #AD7577;
  font-family: 'Exo 2', sans-serif;

  a {
      color: #F7646A;
  }
}



#coming-soon {
  padding-top: 30vh;

    .logo {
      height: 101px;
      width: 103px;
      background-image: url("/images/logo.png");
      background-size: 103px 101px;
      display: inline-block;

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
          background-image: url("/images/logo_2x.png");
      }
    }
}
