@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}


/**, a, button {*/
/*    cursor: default;*/
/*    user-select: none;*/
/*}*/

.bg-stripes-red {
    background: repeating-linear-gradient(
        45deg,
        #cc603f,
        #cc603f 10px,
        #b35437 10px,
        #b35437 20px
    );
}
